html {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 0;
    padding: 0;
}

.section-input {
    padding: 10px 0 0 10px;
    width: 40%;
}

.section-analysis {
    padding: 10px 10px 10px 0;
    width: 60%;
    text-align: center;
    max-height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
}

.input-code {
    box-sizing: border-box;
    width: 100%;
    height: calc(100vh - 70px);
}

.input-main {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 4px;
}

button {
    box-sizing: border-box;
    width: calc(50% - 2px);
    margin: 0;
}

table {
    width: 100%;
}

td {
    vertical-align: top;
}

table.ops {
    background: lightgray;
}

table.ops td {
    border-spacing: 1px;
    background: white;
}

td.optd {
    width: 33.33%;
}